@inject IStringLocalizer<LotoResource> LotoLocalizer
@inject IStringLocalizer<FeedResource> FeedLocalizer
<div class="row">
    <h5>@FeedLocalizer["CardLotteriesTitle"]</h5>
    <div class="col-lg-4 col-md-6 mt-4 mb-4">
        <a href="/miniloto">
            <div class="card z-index-2">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                    <div class="bg-gradient-faded-info shadow-blur border-radius-lg py-3 pe-1">
                        @* <img src="site_images/buttons/btnLoto6_menu_shadow.png" width="120" /> *@
                        <h4 class="text-white font-weight-bold text-center">@LotoLocalizer["TITLE_MINILOTO"]</h4>
                    </div>
                </div>
                <div class="card-body">
                    <h6 class="mb-0 text-center">@LotoLocalizer["CombForMiniLoto"]</h6>
                    <p class="text-sm">@LotoLocalizer["SelectForMiniLoto"]</p>
                    <hr class="dark horizontal">
                    <div class="d-flex align-self-center">
                        <p class="mb-0 text-xxs text-center">
                            <strong class="text-sm">&reg;</strong> MiniLoto is a 宝くじネット TM 
                            <br />
                            (c)2020 Takarakujinet Co.,Ltd. All Rights Reserved. 
                        </p>
                    </div>                
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-6 mt-4 mb-4">
        <a href="/loto6">
            <div class="card z-index-2">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                    <div class="bg-gradient-faded-danger shadow-blur border-radius-lg py-3 pe-1">
                        @* <img src="site_images/buttons/btnLoto6_menu_shadow.png" width="120" /> *@
                        <h4 class="text-white font-weight-bold text-center">@LotoLocalizer["TITLE_LOTO6"]</h4>
                    </div>
                </div>
                <div class="card-body">
                    <h6 class="mb-0 text-center">@LotoLocalizer["CombForLoto6"]</h6>
                    <p class="text-sm">@LotoLocalizer["SelectForLoto6"]</p>
                    <hr class="dark horizontal">
                    <div class="d-flex align-self-center">
                        <p class="mb-0 text-xxs text-center">
                            <strong class="text-sm">&reg;</strong> Loto6 is a 宝くじネット TM 
                            <br />
                            (c)2020 Takarakujinet Co.,Ltd. All Rights Reserved. 
                        </p>
                    </div>                
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-6 mt-4 mb-4">
        <a href="/loto7">
            <div class="card z-index-2">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                    <div class="bg-gradient-faded-primary shadow-blur border-radius-lg py-3 pe-1">
                        @* <img src="site_images/buttons/btnLoto6_menu_shadow.png" width="120" /> *@
                        <h4 class="text-white font-weight-bold text-center">@LotoLocalizer["TITLE_LOTO7"]</h4>
                    </div>
                </div>
                <div class="card-body">
                    <h6 class="mb-0 text-center">@LotoLocalizer["CombForLoto7"]</h6>
                    <p class="text-sm">@LotoLocalizer["SelectForLoto7"]</p>
                    <hr class="dark horizontal">
                    <div class="d-flex align-self-center">
                        <p class="mb-0 text-xxs text-center">
                            <strong class="text-sm text-center">&reg;</strong>Loto7 is a 宝くじネット TM 
                            <br />
                            (c)2020 Takarakujinet Co.,Ltd. All Rights Reserved. 
                        </p>
                    </div>                
                </div>
            </div>
        </a>
    </div>
</div>

@code {

}
