@inject IStringLocalizer<MenuResource> menuLocalizer

<ul class="navbar-nav">
    <AuthorizeView>
        <Authorized>
            <li class="nav-item mt-2">
                <h6 class="ps-4 ms-2 text-uppercase text-sm text-white font-weight-bolder opacity-8 nav-section-title">@menuLocalizer["Lottery"]</h6>
            </li>
            <hr class="horizontal light mt-0 mb-2">
            <li class="nav-item">
                <a class="nav-link text-white" href="/miniloto">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="material-icons opacity-10">filter_5</i>
                    </div>
                    <span class="nav-link-text text-xs ms-1">@menuLocalizer["MiniLoto"]</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/loto6">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="material-icons opacity-10">filter_6</i>
                    </div>
                    <span class="nav-link-text text-xs ms-1">@menuLocalizer["Loto6"]</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/loto7">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="material-icons opacity-10">filter_7</i>
                    </div>
                    <span class="nav-link-text text-xs ms-1">@menuLocalizer["Loto7"]</span>
                </a>
            </li>
            <hr class="horizontal light mt-2 mb-0">
            <li class="nav-item mt-3">
                <h6 class="ps-4 ms-2 text-uppercase text-sm text-white font-weight-bolder opacity-8">@menuLocalizer["MyAccount"]</h6>
            </li>
            <hr class="horizontal light mt-0 mb-2">
            <li class="nav-item">
                <a class="nav-link text-white" href="myprofile">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="material-icons opacity-10">person</i>
                    </div>
                    <span class="nav-link-text text-xs ms-1">@menuLocalizer["MyProfile"]</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="changepassword">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="material-icons opacity-10">password</i>
                    </div>
                    <span class="nav-link-text text-xs ms-1">@menuLocalizer["ChangePassword"]</span>
                </a>
            </li>
           @*  <li class="nav-item">
                <a class="nav-link text-white" href="resendemail">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="material-icons opacity-10">email</i>
                    </div>
                    <span class="nav-link-text text-xs ms-1">@menuLocalizer["ResendConfirmationEmail"]</span>
                </a>
            </li> *@
            <li class="nav-item">
                <a class="nav-link text-white" href="logout">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="material-icons opacity-10">logout</i>
                    </div>
                    <span class="nav-link-text text-xs ms-1">@menuLocalizer["Logout"]</span>
                </a>
            </li>
        </Authorized>
        <NotAuthorized>
            <li class="nav-item">
                <div class="flex-column m-0 p-0" style="width:100%!important;">
                    <p class="text-white font-9 mt-4 mb-1" style="margin-left:10%;">
                        @menuLocalizer["AlreadyRegistered"]
                    </p>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-outline-primary mt-0 mb-0 h-75 pt-1 pb-1" style="width:80%!important;" href="/login">
                            @menuLocalizer["Login"]
                        </a>
                    </div>
                </div>
            </li>
            <li class="nav-item mt-4">
                <div class="flex-column m-0 p-0" style="width:100%!important;">
                    <p class="text-white font-9 mt-2 mb-1" style="margin-left:10%;">
                        @menuLocalizer["NotRegistered"]
                    </p>
                    <div class="d-flex justify-content-center">
                        <a class="btn bg-gradient-primary mt-0 mb-0 h-75 pt-1 pb-1" style="width:80%!important;" href="/register">
                            @menuLocalizer["Register"]
                        </a>
                    </div>
                </div>
            </li>
        </NotAuthorized>
    </AuthorizeView>
    <li class="nav-item">
        <a class="nav-link text-white" href="privacy">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">privacy_tip</i>
            </div>
            <span class="nav-link-text text-xs ms-1">@menuLocalizer["PrivacyPolicy"]</span>
        </a>
    </li>
</ul>

@code {

}
