@page "/myprofile"
@using JpLoto.Application.Dto;
@using JpLoto.Site.Interfaces.Services;
@inject IAccountService accountService
@inject IMyProfileRepository myProfileRepository
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IStringLocalizer<UserDetailResource> userDetailLocalizer
@attribute [Authorize]

<PageTitle>My Profile</PageTitle>

<main class="mt-0 body-left">
    <div class="container-fluid px-2 px-md-4">
        <div class="card card-body mx-3 mx-md-4 mt-2">
            <div class="row mb-2"> @* gx-4 *@
                <div class="d-flex align-items-center justify-content-center mt-0 ms-0 me-0 ">
                    <div class="mt-4 flex-column">
                        <h6 class="mb-1">
                            <span><i class="fa fa-user fa-lg me-2"></i></span>
                            @currentUserName
                        </h6>
                        <p class="mb-0 font-weight-normal text-sm">
                            Trial period
                        </p>
                    </div>
                </div>

                <hr class="horizontal light bg-dark mt-2 mb-2 w-100">
            </div>
            <div class="row">
                <div class="row">
                    <div class="col-12 ">
                        <div class="card card-plain h-100">
                            <div class="card-header pb-0 p-3">
                                <div class="row">
                                    <div class="d-flex align-items-center">
                                        <h6 class="mb-0 me-auto">@userDetailLocalizer["ProfileInformation"]</h6>
                                        <a href="javascript:;">
                                            <div class="action-icon">
                                            @if(isEditingMode)
                                            {
                                                <i class="fas fa-user-edit text-12 text-green"
                                                    data-bs-toggle="tooltip" data-bs-placement="top" title="@userDetailLocalizer["DisableEditingMode"]"
                                                    @onclick="EditModeToggle">
                                                </i>
                                            }
                                            else
                                            {
                                                <i class="fas fa-user-edit text-12 text-gray"
                                                    data-bs-toggle="tooltip" data-bs-placement="top" title="@userDetailLocalizer["EnableEditingMode"]"
                                                    @onclick="EditModeToggle">
                                                </i>
                                                <span class="badge position-absolute bottom-0 start-100 translate-middle">
                                                    <i class="fas fa-times text-red text-12"></i>
                                                </span>
                                            }
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-md-4 text-end">
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-3">
                                <p class="text-sm">
                                    @userDetailLocalizer["EditingModeText"] [@userDetailLocalizer["Update"]].
                                </p>
                                <hr class="horizontal gray-light my-4">
                                <EditForm Model="userDetailDto" OnValidSubmit="HandleUpdate">
                                    <DataAnnotationsValidator />
                                    <div class="input-group input-group-outline mt-3">
                                        <label for="firstname" class="form-label text-xs">@userDetailLocalizer["FirstName"]</label>
                                        @if(isEditingMode)
                                        {
                                            <InputText id="firstname" style="text-align:center;" @bind-Value="userDetailDto.FirstName" class="form-control my-2" />
                                        }
                                        else
                                        {
                                            <InputText id="firstname" style="text-align:center;" @bind-Value="userDetailDto.FirstName" class="form-control my-2 bc-red" disabled />
                                        }
                                    </div>
                                    <ValidationMessage For="@(() => userDetailDto.FirstName)" class="text-xs text-danger" />

                                    <div class="input-group input-group-outline mt-3">
                                        <label for="lastname" class="form-label text-xs">@userDetailLocalizer["LastName"]</label>
                                        @if (isEditingMode)
                                        {
                                            <InputText id="lastname" style="text-align:center;" @bind-Value="userDetailDto.LastName" class="form-control my-2" />
                                        }
                                        else
                                        {
                                            <InputText id="lastname" style="text-align:center;" @bind-Value="userDetailDto.LastName" class="form-control my-2 bc-red" disabled />
                                        }
                                    </div>
                                    <ValidationMessage For="@(() => userDetailDto.LastName)" class="text-xs text-danger" />

                                    <div class="input-group input-group-outline mt-3">
                                        <label for="phone" class="form-label text-xs">@userDetailLocalizer["Phone"]</label>
                                        @if (isEditingMode)
                                        {
                                            <InputText id="phone" style="text-align:center;" @bind-Value="userDetailDto.Phone" class="form-control my-2" />
                                        }
                                        else
                                        {
                                            <InputText id="phone" style="text-align:center;" @bind-Value="userDetailDto.Phone" class="form-control my-2 bc-red" disabled />
                                        }
                                    </div>
                                    <ValidationMessage For="@(() => userDetailDto.Phone)" class="text-xs text-danger" />

                                    <div class="input-group input-group-outline mt-3">
                                        <label for="postalcode" class="form-label text-xs">@userDetailLocalizer["PostalCode"]</label>
                                        @if (isEditingMode)
                                        {
                                            <InputText id="postalcode" style="text-align:center;" @bind-Value="userDetailDto.PostalCode" class="form-control my-2" />
                                        }
                                        else
                                        {
                                            <InputText id="postalcode" style="text-align:center;" @bind-Value="userDetailDto.PostalCode" class="form-control my-2 bc-red" disabled />
                                        }
                                    </div>
                                    <ValidationMessage For="@(() => userDetailDto.PostalCode)" class="text-xs text-danger" />

                                    <div class="input-group input-group-outline mt-3">
                                        <label for="state" class="form-label text-xs">@userDetailLocalizer["State"]</label>
                                        @if (isEditingMode)
                                        {
                                            <InputText id="state" style="text-align:center;" @bind-Value="userDetailDto.State" class="form-control my-2" />
                                        }
                                        else
                                        {
                                            <InputText id="state" style="text-align:center;" @bind-Value="userDetailDto.State" class="form-control my-2 bc-red" disabled />
                                        }
                                    </div>
                                    <ValidationMessage For="@(() => userDetailDto.State)" class="text-xs text-danger" />

                                    <div class="input-group input-group-outline mt-3">
                                        <label for="city" class="form-label text-xs">@userDetailLocalizer["City"]</label>
                                        @if (isEditingMode)
                                        {
                                            <InputText id="city" style="text-align:center;" @bind-Value="userDetailDto.City" class="form-control my-2" />
                                        }
                                        else
                                        {
                                            <InputText id="city" style="text-align:center;" @bind-Value="userDetailDto.City" class="form-control my-2 bc-red" disabled />
                                        }
                                    </div>
                                    <ValidationMessage For="@(() => userDetailDto.City)" class="text-xs text-danger" />
                                        
                                    <div class="input-group input-group-outline mt-3">
                                        <label for="address" class="form-label text-xs">@userDetailLocalizer["Address"]</label>
                                        @if (isEditingMode)
                                        {
                                            <InputText id="address" style="text-align:center;" @bind-Value="userDetailDto.Address" class="form-control my-2" />
                                        }
                                        else
                                        {
                                            <InputText id="address" style="text-align:center;" @bind-Value="userDetailDto.Address" class="form-control my-2 bc-red" disabled />
                                        }
                                    </div>
                                    <ValidationMessage For="@(() => userDetailDto.Address)" class="text-xs text-danger" />

                                    <div class="text-center mb-2">
                                        <button type="submit" class="btn bg-gradient-primary w-50 my-4 @disabledClass">@userDetailLocalizer["Update"]</button>
                                    </div>
                                </EditForm>
                                <div class="mt-2">
                                    @if (errorMessages.Count > 0)
                                    {
                                        foreach (var msg in errorMessages)
                                        {
                                            <label class="text-danger text-xs">@msg</label>
                                            <br />
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@code {
    private UserDetailDto? userDetailDto { get; set; } = new();
    private List<string> errorMessages = new();
    private string returnUrl = string.Empty;
    private string currentUserName { get; set; }
    private bool isNewProfile = false;
    private bool isEditingMode = false;
    private string disabledClass { get => isEditingMode ? null : "disabled"; }
    private string iconColorClass { get => isEditingMode ? "text-green" : "text-gray"; }

    protected override async Task OnInitializedAsync()
    {
        var uri = navigationManager.ToAbsoluteUri(navigationManager.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("returnUrl", out var url))
        {
            returnUrl = url;
        }
        currentUserName = await accountService.GetCurrentUserName();
        var userId = await accountService.GetUserIdByEmailAsync(currentUserName);

        errorMessages = new();

        if (userId is null)
            errorMessages.Add($"Something went wrong. User '{currentUserName}' not found!");
        else
        {
            var userDetail = await myProfileRepository.GetByUserIdAsync(userId);
            if(userDetail == null || userDetail.Id == 0)
            {
                isEditingMode = true;
                isNewProfile = true;
                userDetailDto = new();
                userDetailDto.UserId = userId;
            }
            else
            {
                isNewProfile = false;
                userDetailDto = new UserDetailDto(userDetail);
            }
        }
    }

    private async Task HandleUpdate()
    {
        errorMessages = new(); // TODO - Add/Update Responses
        userDetailDto.UpdateDate = DateTime.Now;
        userDetailDto.IsActive = true;

        if(isNewProfile)
            await myProfileRepository.AddAsync(userDetailDto.ConvertToAddRequest());
        else
            await myProfileRepository.UpdateAsync(userDetailDto.ConvertToUpdateRequest());
    }

    private void EditModeToggle()
    {
        isEditingMode = !isEditingMode;
    }

}


