@page "/loto7"
@inject ILocalStorageService localStorage
@inject NavigationManager navigationManager
@inject IFileService fileService
@inject IStringLocalizer<LotoResource> lotoLocalizer
@inject IStringLocalizer<ButtonResource> buttonLocalizer
@inject IJSRuntime jsRuntime
@attribute [Authorize]

<PageTitle>Loto7</PageTitle>

<div class="container ctn-loto">
    <div class="ctn-loto-title bg-primary">
        <h2 class="text-md text-white bold mt-2 me-auto">@lotoLocalizer["TITLE_LOTO7"] - @lotoLocalizer["TITLE_SELECTNUMBERS"]</h2>
        <ButtonClose_Circle />
    </div>
    <div class="row ctn-numbers bg-gradient-loto7">
        <div class="numbers-card col-lg-6 col-md-6 col-sm-12">
            <div class="numbers-zone">
                @foreach (var number in loto.ButtonNumbers)
                {
                    <button class="btn-numbers @GetBtnNumberClass(number.Indice)"
                        @onmousedown="(() => NumberPressed(number))"
                        @onmouseup="(() => NumberReleased(number))">
                        @number.NumberTxt
                    </button>
                }
            </div>
            <div class="options">
                <div class="options-zone">
                    <div class="buttoncard @disabledClass(!limitaNumbersVariaveis || loto.QuantityOfSelectedNumbers == variableNumbers)" @onclick="CreateSuggestions">
                        <div class="action-icon">
                            <i class="fas fa-magic text-blue"></i>
                        </div>
                        <div class="buttoncard-text font-10">
                            @lotoLocalizer["Suggestions"]
                        </div>
                    </div>
                    <div class="buttoncard @disabledClass(loto.QuantityOfSuggestedNumbers < 1)" @onclick="ApplySuggestions">
                        <div class="action-icon">
                            <i class="fas fa-hand-sparkles text-blue"></i>
                        </div>
                        <div class="buttoncard-text font-10">
                            @lotoLocalizer["ApplySuggestions"]
                        </div>
                    </div>
                    <div class="buttoncard @disabledClass(loto.QuantityOfSuggestedNumbers < 1)" @onclick="LimpaSugestoes">
                        <div class="action-icon">
                            <i class="fas fa-trash-alt text-red"></i>
                            @* <span class="badge"><i class="fas fa-magic text-red"></i></span> *@
                        </div>
                        <div class="buttoncard-text text-red font-10">
                            @lotoLocalizer["ClearSuggestions"]
                        </div>
                    </div>
                    <div class="buttoncard @disabledClass(loto.QuantityOfSelectedNumbers < 1 &&
                                                          loto.QuantityOfFixedNumbers < 1 &&
                                                          loto.QuantityOfBlockedNumbers < 1)"
                    @onclick="ClearAll">
                        <div class="action-icon">
                            <i class="fas fa-times text-red"></i>
                            @* <span class="badge"><i class="fas fa-times text-red"></i></span> *@
                        </div>
                        <div class="buttoncard-text text-red font-10">
                            @lotoLocalizer["ClearAll"]
                        </div>
                    </div>
                    <div class="buttoncard" onclick="document.getElementById('inputFileOpen').click()">
                        <div class="action-icon">
                            <i class="fas fa-file-alt text-blue"></i>
                        </div>
                        <div class="buttoncard-text font-10">
                            @lotoLocalizer["Load"]
                        </div>
                        <InputFile id="inputFileOpen" hidden OnChange="LoadCombinationsFromFile" />
                    </div>
                </div>
                <div class="options-zone">
                    <div class="minicard shadow-dark mb-2">
                        <div class="minicard-title bg-darkgreen text-white bc-lightgreen font-8">
                            <input class="form-check-input mt-1" type="checkbox" @bind="limitaNumbersVariaveis"
                                   aria-label="Checkbox for following text input">
                            <label class="mt-1 text-white font-10">@lotoLocalizer["LimitNumbers"]</label>
                        </div>
                        <div class="minicard-body bc-lightgreen bg-palegreen text-green font-8">
                            <label class="font-10 text-darkgreen">@lotoLocalizer["Maximum"]</label>
                            <input type="number" disabled="@(!limitaNumbersVariaveis)"
                            @bind-value="variableNumbers" min="@(loto.NumbersPerCard - loto.QuantityOfFixedNumbers + 1)"
                                   class="form-control p-0 font-10" id="variableNumbers">
                        </div>
                    </div>
                    <div class="minicard shadow-dark mb-2">
                        <div class="minicard-title bg-darkgreen text-white bc-lightgreen font-8">
                            <input class="form-check-input mt-1" type="checkbox" @bind="limitaCombinacoes"
                                   aria-label="Checkbox for following text input">
                            <label class="mt-1 text-white font-10">@lotoLocalizer["LimitCombinations"]</label>
                        </div>
                        <div class="minicard-body bc-lightgreen bg-palegreen text-green font-8">
                            <label class="font-10 text-darkgreen">@lotoLocalizer["Maximum"]</label>
                            <input type="number" disabled="@(!limitaCombinacoes)"
                            @bind-value="quantidadeDeCombinacoes" max="@loto.GetCombinationCount()"
                                   class="form-control p-0 font-10" id="quantidadeDeCombinacoes">
                        </div>
                    </div>
                </div>
                <div class="options-zone">
                    <div class="minicard shadow-dark mb-2">
                        <div class="minicard-title bg-darkgreen text-white bc-lightgreen font-8">
                            <input class="form-check-input mt-1" type="checkbox" @bind="mantemCombinacoesAnteriores"
                                   aria-label="Checkbox for following text input">
                            <label class="mt-1 text-white font-10">@lotoLocalizer["PreviousCombinations"]</label>
                        </div>
                        <div class="minicard-body bc-lightgreen bg-palegreen text-green font-8">
                            @lotoLocalizer["KeepPrevious"]
                        </div>
                    </div>
                    <div class="minicard shadow-dark mb-2">
                        <div class="minicard-title bg-darkgreen text-white bc-lightgreen font-8">
                            <input class="form-check-input mt-1" type="checkbox" @bind="geraCombinacoesAleatorias"
                                   aria-label="Checkbox for following text input">
                            <label class="mt-1 text-white font-10">@lotoLocalizer["RandomCombinations"]</label>
                        </div>
                        <div class="minicard-body bc-lightgreen bg-palegreen text-green font-8">
                            @lotoLocalizer["GenerateRandom"]
                        </div>
                    </div>
                </div>
                <div class="options-zone justify-content-center mt-2">
                    <button class="btn btn-primary"
                            disabled="@(loto.QuantityOfSelectedNumbers < variableNumbers || loto.QuantityOfSelectedNumbers < loto.NumbersPerCard)"
                            @onclick="CreateCombinations">
                            @buttonLocalizer["GenerateCombinations"]
                    </button>
                </div>
                <div class="options-zone">
                    <div class="buttoncard @disabledClass(false)" @onclick="DefineFilters">
                        <div class="action-icon">
                            <i class="fas fa-traffic-light text-blue"></i>
                        </div>
                        <div class="buttoncard-text font-10">
                            @lotoLocalizer["Filters"]
                        </div>
                    </div>
                    <div class="buttoncard @disabledClass(loto.SelectedNumbers.Length < 1 && loto.FixedNumbers.Length < 1)"
                    @onclick="SaveCombinations">
                        <div class="action-icon">
                            <i class="fas fa-save text-blue"></i>
                        </div>
                        <div class="buttoncard-text font-10">
                            @lotoLocalizer["Save"]
                        </div>
                    </div>
                    <div class="buttoncard @disabledClass(Combinacoes.Count < 1)" @onclick="ClearAll">
                        <div class="action-icon">
                            <i class="fas fa-print text-blue"></i>
                            <span class="badge position-absolute bottom-0 start-100 translate-middle">
                                <i class="far fa-file-pdf text-lightblue"></i>
                            </span>
                        </div>
                        <div class="buttoncard-text font-10">
                            @lotoLocalizer["Print"]
                        </div>
                    </div>
                    <div class="buttoncard @disabledClass(false)" @onclick="ConfigurePrinting">
                        <div class="action-icon">
                            <i class="fas fa-cog text-blue"></i>
                            <span class="badge position-absolute bottom-0 start-100 translate-middle">
                                <i class="fas fa-print text-lightblue"></i>
                            </span>
                        </div>
                        <div class="buttoncard-text font-10">
                            @lotoLocalizer["ConfigurePrinting"]
                        </div>
                    </div>
                    <div class="buttoncard @disabledClass(Combinacoes.Count < 1)" @onclick="CheckResultsHandle">
                        <div class="action-icon">
                            <i class="fas fa-search-dollar text-blue"></i>
                        </div>
                        <div class="buttoncard-text font-10">
                            @lotoLocalizer["CheckResult"]
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="combinations-card col-lg-6 col-md-6 col-sm-12">
            <div class="combinations-title font-12 bg-darkgreen text-white bold">
                <div class="title-message font-10 text-white">
                    <i class="fas fa-grip-horizontal font-10 text-white"></i>
                    @mensagemTituloCombinacao
                </div>
                <div class="btn-page-group">
                    <div @onclick="PaginaAnterior" data-bs-toggle="tooltip" data-bs-placement="top" title="@lotoLocalizer["PagePrevious"]">
                        <i class="fas fa-angle-left btn-page text-white"></i>
                    </div>
                    <div @onclick="PaginaInicial" data-bs-toggle="tooltip" data-bs-placement="top" title="@lotoLocalizer["PageFirst"]">
                        <i class="fas fa-angle-double-left btn-page text-white"></i>
                    </div>
                    @* <label class="label-page text-white font-9">@lotoLocalizer["Page"] @paginacaoStatus</label> *@
                    <label class="label-page text-white font-9 mt-2">P:@paginacaoStatus</label>
                    <div @onclick="PaginaFinal" data-bs-toggle="tooltip" data-bs-placement="top" title="@lotoLocalizer["PageLast"]">
                        <i class="fas fa-angle-double-right btn-page text-white"></i>
                    </div>
                    <div @onclick="ProximaPagina" data-bs-toggle="tooltip" data-bs-placement="top" title="@lotoLocalizer["PageNext"]">
                        <i class="fas fa-angle-right btn-page text-white"></i>
                    </div>
                </div>
            </div>
            <div class="combinations-zone bg-palegreen bc-lightgreen shadow-dark mb-3">
                <div class="combinations-header bc-darkgreen">
                    <div class="col txt-50 font-10 text-darkgreen">@lotoLocalizer["Order"]</div>
                    <div class="col txt-120 font-10 text-darkgreen">@lotoLocalizer["Numbers"]</div>
                    <div class="col txt-50 font-10 text-darkgreen">@lotoLocalizer["Recycle"]</div>
                </div>
                @foreach (var card in CombinacoesPaginadas)
                {
                    <div class="row combinations-item">
                        <div class="col txt-50 font-10">@(card.Id.ToString("000000"))</div>
                        <div class="col txt-120 font-10">@card.NumbersText</div>
                        <div class="col txt-50 font-10 d-inline-flex">
                            <div class="btn-delete" role="button" @onclick="() => DeletaCombinacao(card)"
                                 data-bs-toggle="tooltip" data-bs-placement="top" title="@lotoLocalizer["DeletePermanent"]">
                                <i class="fas fa-trash-alt text-red font-12"></i>
                            </div>
                            <div class="btn-recycle" @onclick="() => ReciclaCombinacao(card)"
                                 data-bs-toggle="tooltip" data-bs-placement="top" title="@lotoLocalizer["RecycleItem"]">
                                <i class="fas fa-recycle text-red btn-recycle font-12"></i>
                            </div>
                        </div>
                    </div>
                    <hr class="mt-0 mb-0 text-green" />
                }
            </div>
        </div>

    </div>

    <div class="ctn-recycling bg-gradient-recycling mt-3">
        <div class="recycle-title bg-darkred font-10">
            <div class="title-message text-white">
                <i class="fas fa-recycle text-white font-16"></i>
                @mensagemTituloLixeira
            </div>
            <div class="btn-page-group">
                <div @onclick="PaginaAnteriorLixeira" data-bs-toggle="tooltip" data-bs-placement="top" title="@lotoLocalizer["PagePrevious"]">
                    <i class="fas fa-angle-left btn-page text-white"></i>
                </div>
                <div @onclick="PaginaInicialLixeira" data-bs-toggle="tooltip" data-bs-placement="top" title="@lotoLocalizer["PageFirst"]">
                    <i class="fas fa-angle-double-left btn-page text-white"></i>
                </div>
                @* <label class="label-page text-white">@lotoLocalizer["Page"] @paginacaoStatusLixeira</label> *@
                <label class="label-page text-white font-9 mt-2">P:@paginacaoStatusLixeira</label>
                <div @onclick="PaginaFinalLixeira" data-bs-toggle="tooltip" data-bs-placement="top" title="@lotoLocalizer["PageLast"]">
                    <i class="fas fa-angle-double-right btn-page text-white"></i>
                </div>
                <div @onclick="ProximaPaginaLixeira" data-bs-toggle="tooltip" data-bs-placement="top" title="@lotoLocalizer["PageNext"]">
                    <i class="fas fa-angle-right btn-page text-white"></i>
                </div>
            </div>
        </div>
        <div class="recycle-zone bc-darkred">
            <div class="recycle-header bc-darkred">
                <div class="col txt-50 text-darkred font-10">@lotoLocalizer["Order"]</div>
                <div class="col txt-100 text-darkred font-10">@lotoLocalizer["Numbers"]</div>
                <div class="col txt-50 text-darkred font-10">@lotoLocalizer["Restore"]</div>
            </div>
            @foreach (var card in LixeiraPaginada)
            {
                <div class="row recycle-item bc-darkred text-darkred">
                    <div class="col txt-50 font-10">@(card.Id.ToString("000000"))</div>
                    <div class="col txt-120 font-10">@card.NumbersText</div>
                    <div class="col txt-50 font-10 d-inline-flex">
                        <div class="btn-delete" role="button" @onclick="() => DeletaCombinacaoReciclada(card)"
                             data-bs-toggle="tooltip" data-bs-placement="top" title="@lotoLocalizer["DeletePermanent"]">
                            <i class="fas fa-trash-alt text-red"></i>
                        </div>
                        <div class="btn-restore" role="button" @onclick="() => RestauraCombinacao(card)"
                             data-bs-toggle="tooltip" data-bs-placement="top" title="@lotoLocalizer["RestoreItem"]">
                            <i class="fas fa-trash-restore text-green"></i>
                        </div>
                    </div>
                </div>
                <hr class="mt-0 mb-0 text-darkred" />
            }
        </div>
    </div>

</div>

@code {
    private Loto7 loto { get; set; } = new Loto7();
    private string mensagemTituloCombinacao
    {
        get => $"{Combinacoes.Count} {lotoLocalizer["Combinations"]}";
    }
    private string mensagemTituloLixeira
    {
        get => $"{Lixeira.Count} {lotoLocalizer["Combinations"]}";
    }

    private const int linhasPorPagina = 20;
    private int paginaAtual = 1;
    private int paginaAtualLixeira = 1;
    private int ultimaPagina { get => (Combinacoes.Count / linhasPorPagina) + (Combinacoes.Count % linhasPorPagina > 0 ? 1 : 0); }
    private int ultimaPaginaLixeira { get => (Lixeira.Count / linhasPorPagina) + (Lixeira.Count % linhasPorPagina > 0 ? 1 : 0); }
    private string paginacaoStatus { get; set; } = string.Empty;
    private string paginacaoStatusLixeira { get; set; } = string.Empty;

    private string filePath { get; set; } = string.Empty;
    private string returnUrl { get; set; } = string.Empty;
    private string[] btnNumberClasses = { "btn-numbers-free", "btn-numbers-selected", "btn-numbers-fixed", "btn-numbers-suggested" };
    private string btnNumberClass { get; set; } = string.Empty;

    private List<Card> Combinacoes { get; set; } = new();
    private List<Card> CombinacoesPaginadas { get; set; } = new();
    private List<Card> Lixeira { get; set; } = new();
    private List<Card> LixeiraPaginada { get; set; } = new();

    private long _quantidadeDeCombinacoes;
    private long quantidadeDeCombinacoes
    {
        get => limitaCombinacoes ? _quantidadeDeCombinacoes : _quantidadeDeCombinacoes = loto.GetCombinationCount();
        set => _quantidadeDeCombinacoes = value;
    }
    private int _variableNumbers;
    private int variableNumbers
    {
        get => _variableNumbers;
        set
        {
            _variableNumbers = value;
            RefreshSelectedNumbers(_variableNumbers);
        }
    }
    private DateTime numberPressionada { get; set; }
    private DateTime numberLiberada { get; set; }
    private bool _limitaNumbersVariaveis { get; set; }
    private bool limitaNumbersVariaveis
    {
        get => _limitaNumbersVariaveis;
        set
        {
            _limitaNumbersVariaveis = value;
            loto.ReleaseSuggestedNumbers();
        }
    }
    private bool _limitaCombinacoes { get; set; }
    private bool limitaCombinacoes
    {
        get => _limitaCombinacoes;
        set => _limitaCombinacoes = value;
    }

    private bool mantemCombinacoesAnteriores { get; set; }
    private bool geraCombinacoesAleatorias { get; set; }

    private string disabledClass(bool condicao) => condicao ? "disabled" : "";

    protected override void OnInitialized()
    {
        loto = new();
        quantidadeDeCombinacoes = 0;
        variableNumbers = 8;
        limitaCombinacoes = false;
        limitaNumbersVariaveis = true;
        mantemCombinacoesAnteriores = false;
        geraCombinacoesAleatorias = false;


        var uri = navigationManager.ToAbsoluteUri(navigationManager.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("returnUrl", out var url))
        {
            returnUrl = url;
        }
    }

    private string GetBtnNumberClass(int index)
    {
        return btnNumberClasses[loto.Numbers[index]];
    }

    private void CreateSuggestions()
    {
        loto.CreateSuggestions(variableNumbers);
    }

    private void ApplySuggestions()
    {
        loto.ApplySuggestions();
    }

    private void LimpaSugestoes()
    {
        loto.ReleaseSuggestedNumbers();
    }

    private void ReciclaCombinacao(Card card)
    {
        Lixeira.Add(card);
        Combinacoes.Remove(card);
        ObtemPaginacao(paginaAtual, linhasPorPagina);
        ObtemPaginacaoLixeira(paginaAtualLixeira, linhasPorPagina);
    }

    private void RestauraCombinacao(Card card)
    {
        Combinacoes.Add(card);
        Lixeira.Remove(card);
        ObtemPaginacao(paginaAtual, linhasPorPagina);
        ObtemPaginacaoLixeira(paginaAtualLixeira, linhasPorPagina);
    }

    private async Task DeletaCombinacao(Card card)
    {
        var js = (IJSInProcessRuntime)jsRuntime;
        var confirm = await js.InvokeAsync<bool>("Confirm", $"{@lotoLocalizer["ConfirmDelete"]} #{card.Id:000000}?");
        if (confirm)
        {
            Combinacoes.Remove(card);
            ObtemPaginacao(paginaAtual, linhasPorPagina);
        }
    }

    private async Task DeletaCombinacaoReciclada(Card card)
    {
        var js = (IJSInProcessRuntime)jsRuntime;
        if (await js.InvokeAsync<bool>("Confirm", $"{@lotoLocalizer["ConfirmDelete"]} #{card.Id:000000}?"))
        {
            Lixeira.Remove(card);
            ObtemPaginacaoLixeira(paginaAtualLixeira, linhasPorPagina);
        }
    }

    private async Task ClearAll()
    {
        var js = (IJSInProcessRuntime)jsRuntime;
        if (await js.InvokeAsync<bool>("Confirm", $"{@lotoLocalizer["ConfirmClearAll"]}?"))
        {
            loto.ReleaseAll();
            ClearCombinations();
        }
    }

    private void CreateCombinations()
    {
        var response = loto.CreateCombinations((int)quantidadeDeCombinacoes, mantemCombinacoesAnteriores, geraCombinacoesAleatorias);
        LoadCombinations(response.Combinations);
    }

    private void LoadCombinations(List<Card> combinacoes)
    {
        Combinacoes = combinacoes;
        PaginaInicial();
        PaginaInicialLixeira();
    }

    private void ClearCombinations()
    {
        loto.ClearCombinations();
        Combinacoes = new();
        CombinacoesPaginadas = new();
        Lixeira = new();
        LixeiraPaginada = new();
        paginacaoStatus = "";
        paginacaoStatusLixeira = "";
    }

    private void PaginaInicial()
    {
        ObtemPaginacao(1, linhasPorPagina);
    }

    private void PaginaInicialLixeira()
    {
        ObtemPaginacaoLixeira(1, linhasPorPagina);
    }

    private void PaginaFinal()
    {
        if (Combinacoes.Count > 0)
            ObtemPaginacao(ultimaPagina, linhasPorPagina);
    }

    private void PaginaFinalLixeira()
    {
        if (Lixeira.Count > 0)
            ObtemPaginacao(ultimaPaginaLixeira, linhasPorPagina);
    }

    private void PaginaAnterior()
    {
        if (Combinacoes.Count > 0)
            ObtemPaginacao(paginaAtual - 1, linhasPorPagina);
    }

    private void PaginaAnteriorLixeira()
    {
        if (Lixeira.Count > 0)
            ObtemPaginacao(paginaAtualLixeira - 1, linhasPorPagina);
    }

    private void ProximaPagina()
    {
        if (Combinacoes.Count > 0)
            ObtemPaginacao(paginaAtual + 1, linhasPorPagina);
    }

    private void ProximaPaginaLixeira()
    {
        if (Lixeira.Count > 0)
            ObtemPaginacao(paginaAtualLixeira + 1, linhasPorPagina);
    }

    private void ObtemPaginacao(int pagina, int linhas)
    {
        if (Combinacoes.Count == 0)
        {
            CombinacoesPaginadas = new();
            return;
        }
        if (pagina < 1 || pagina > ultimaPagina) return;
        int linhaInicial = pagina * linhas - linhas;

        if ((linhaInicial + linhas) <= Combinacoes.Count)
            CombinacoesPaginadas = Combinacoes.GetRange(linhaInicial, linhas);
        else
            CombinacoesPaginadas = Combinacoes.GetRange(linhaInicial, Combinacoes.Count - linhaInicial);

        CombinacoesPaginadas = CombinacoesPaginadas.OrderBy(x => x.Id).ToList();
        paginacaoStatus = $" {pagina}/{ultimaPagina}";
        paginaAtual = pagina;
    }

    private void ObtemPaginacaoLixeira(int pagina, int linhas)
    {
        if (Lixeira.Count == 0)
        {
            LixeiraPaginada = new();
            return;
        }
        if (pagina < 1 || pagina > ultimaPaginaLixeira) return;
        int linhaInicial = pagina * linhas - linhas;

        if ((linhaInicial + linhas) <= Lixeira.Count)
            LixeiraPaginada = Lixeira.GetRange(linhaInicial, linhas);
        else
            LixeiraPaginada = Lixeira.GetRange(linhaInicial, Lixeira.Count - linhaInicial);

        LixeiraPaginada = LixeiraPaginada.OrderBy(x => x.Id).ToList();

        paginacaoStatusLixeira = $" {pagina}/{ultimaPaginaLixeira}";
        paginaAtualLixeira = pagina;
    }

    private void NumberPressed(LotoNumber number)
    {
        numberPressionada = DateTime.Now;
    }

    private void RefreshSelectedNumbers(int dezVar)
    {
        loto.RefreshSelectedNumbers(dezVar);
    }

    private void NumberReleased(LotoNumber number)
    {
        numberLiberada = DateTime.Now;
        var tempo = numberLiberada - numberPressionada;
        if (tempo.Seconds >= 1)
        {
            loto.SetAsFixed(number.Indice);
        }
        else
        {
            if (!limitaNumbersVariaveis || loto.QuantityOfSelectedNumbers < variableNumbers)
                loto.SetAsSelected(number.Indice);
            else
                loto.SetAsFree(number.Indice);
        }
        if (!limitaNumbersVariaveis)
            variableNumbers = loto.QuantityOfSelectedNumbers;
    }

    private async Task SaveCombinations()
    {
        if (loto.SelectedNumbers.Length < 1 && loto.FixedNumbers.Length < 1)
            return;
        var file = await jsRuntime.InvokeAsync<string>("saveFileAs", loto.LotoFileInfo.SugestaoDeNome, loto.LotoFileInfo.Descricao, loto.LotoFileInfo.Extensao);
        if (!string.IsNullOrEmpty(file))
        {
            LotoFile lotoFile = new()
                {
                    LotoType = loto.LotoFileInfo.Nome,
                    SelectedNumbers = LotoBase.ArrayToText(loto.SelectedNumbers, LotoType.Loto7),
                    FixedNumbers = LotoBase.ArrayToText(loto.FixedNumbers, LotoType.Loto7),
                    Combinations = Combinacoes
                };
            await fileService.SaveFileAsync(lotoFile, file);
        }
    }

    private async Task LoadCombinationsFromFile(InputFileChangeEventArgs args)
    {
        LotoFile? lotoFile = await fileService.ReadFileAsync(args.File);
        if (lotoFile != null)
        {
            ClearAll();
            loto.SelectNumbers(lotoFile.SelectedNumbers);
            loto.FixNumbers(lotoFile.FixedNumbers);
            loto.Combinations = lotoFile.Combinations;
            LoadCombinations(loto.Combinations);
        }
    }

    private void ConfigurePrinting()
    {
        navigationManager.NavigateTo("printConfigPage?returnUrl=/loto7page", false, true);
    }

    private void DefineFilters()
    {
        navigationManager.NavigateTo($"lotoFiltersPage/{LotoType.Loto7}?returnUrl=/loto7page", false, true);
    }

    private async Task CheckResultsHandle()
    {
        // Provisorio - simula leitura do resultado
        var result = new Loto7Result()
            {
                DrawNumber = 1,
                Numbers = "08,09,14,21,23,32,37",
                Bonus = "15,31",
                Date = DateTime.Now,
                Prize1Value = 1_000_000,
                Prize2Value = 500_000,
                Prize3Value = 100_000,
                Prize4Value = 15_000,
                Prize5Value = 2_000,
                Prize6Value = 1_000
            };

        var prizesResult = loto.CheckResults(result);
        await localStorage.SetItemAsync<ResultResponse<Loto7Result, Loto7Prize>>("jpl7Prizes", prizesResult);
        navigationManager.NavigateTo($"/loto7checkresult");
    }

}
